<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Bienvenido TeLLevoAPP®</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingrese Punto de Recogida</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="https://media.discordapp.net/attachments/603742649106694182/892922872312524870/Sin_titulo_4.jpg?width=377&height=670"> </ion-img>
      </ion-card-content>
    </ion-card>
    
</ion-content>


<ion-footer>
  <ion-toolbar color="success">
  </ion-toolbar>