<ion-header>
  <ion-toolbar color="success">
    <ion-title>ADIOS.</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    Gracias por acceder a nuestros Viajes.Espero haya sido de su agrado.
    <ion-img src="https://media.discordapp.net/attachments/603742649106694182/892903620796903505/logo.png"> </ion-img>
  </ion-card-content>
</ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
  </ion-toolbar>