
<ion-header>
  <ion-toolbar color="success">
    <div align="center">
      <ion-title color="" >Bienvenido A TeLLevoAPP®  </ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <div align="center">
        <img src="https://media.discordapp.net/attachments/603742649106694182/892903620796903505/logo.png" alt="" >
      </div>
      
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-row>
        <ion-col>
          <ion-button color="secondary" expand="full" routerLink="/login"  expand="block">Iniciar Sesion</ion-button>
          <ion-button color="warning" routerLink="/recuperar" type="submit"  expand="block">Recuperar contraseña</ion-button>
        
          <ion-button  type="submit"  onclick="MuestraMensajeCarga3();" color="danger" expand="block">Salir</ion-button>
          
        </ion-col>
      </ion-row>
  
    </form>
    </ion-card-content>
  </ion-card>

</ion-content>


<ion-footer>
  <ion-toolbar color="success">
  </ion-toolbar>
 

